@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Poppins";
}

html {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  min-height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  position: sticky;
  top: 0;
}

.header .logo {
  cursor: pointer;
}
.header .logo .slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.header .logo img {
  height: 60px;
  width: auto;
  margin: 20px;
  transition: all 0.3s;
}
.header .logo img:hover {
  transform: scale(1.2);
}
.header .slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.header .nav-links {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}
.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
  transition: all 0.3s;
}
.header .nav-links li:hover {
  transform: scale(1.1);
}
.header .nav-links li a {
  font-size: 700;
  color: #000000;
  text-decoration: none;
}
.header .nav-links li a:hover {
  color: #d4106b;
}
.header .abrir_menu {
  display: none;
}
.header nav .cerrar_menu {
  display: none;
}

.inicio {
  margin-top: 10px;
}
.inicio .inicio_pag img {
  object-fit: cover;
}
.inicio .inicio_pag .scale-in-bottom {
  -webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}
.inicio .inicio_pag .sabores_inicio {
  padding: 150px 0px 0px;
  text-align: center;
  font-size: 38px;
  color: #d60058;
}
.inicio .inicio_pag .sabores {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 38px;
  color: #d60058;
}
.inicio .inicio_pag .cucurucho {
  position: absolute;
  top: 105px;
  left: -20px;
  width: 20%;
  max-height: 480px;
  max-width: 320px;
}
.inicio .inicio_pag .helado_frutilla {
  position: absolute;
  top: 100px;
  right: 0;
  width: 20%;
  max-height: 350px;
}
.inicio .listas {
  margin: 80px;
  display: grid;
  text-align: center;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.inicio .listas .col {
  width: 100%;
  height: 350px;
  margin-top: 80px;
  margin-left: 50px;
}
.inicio .listas .col li {
  text-decoration: none;
}
.inicio .listas .col h6 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  text-align: left;
  margin: 35px;
  color: #d60058;
}
.inicio .listas .col ul li {
  width: 100%;
  text-align: left;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
}

.contacto .contacto_pag .scale-in-bottom {
  -webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}
.contacto .contacto_pag h1 {
  text-align: center;
  padding: 30px;
  font-size: 38px;
  color: #d60058;
}
.contacto .contacto_pag .contacto_input {
  display: flex;
  justify-content: center;
}
.contacto .contacto_pag .contacto_input select {
  border: 2px solid black;
  padding-right: 150px;
  padding-left: 100px;
  margin: 10px auto;
  height: 40px;
  display: flex;
  justify-content: center;
}
.contacto .contacto_pag .contacto_input .titulo_label {
  padding: 5px;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;
}
.contacto .contacto_pag .contacto_input .titulo_label:hover {
  font-size: 1.2rem;
  color: #d60058;
}
.contacto .contacto_pag .contacto_input label {
  display: flex;
  justify-content: center;
  padding: 5px;
  height: 50px;
}
.contacto .contacto_pag .contacto_input label input {
  border: 2px solid black;
  padding-right: 50px;
  padding-left: 50px;
}
.contacto .contacto_pag .contacto_input label textarea {
  display: flex;
  justify-content: center;
}
.contacto .contacto_pag .contacto_input .btn_submit {
  padding: 5px 7px;
  margin-right: 7px;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contacto .contacto_pag .contacto_input .btn_submit:hover {
  background-color: #d60058;
  font-size: 1.2rem;
}
.contacto .contacto_pag .contacto_input .btn_reset {
  padding: 5px 7px;
  margin-right: 7px;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contacto .contacto_pag .contacto_input .btn_reset:hover {
  background-color: #d60058;
  font-size: 1.2rem;
}
.contacto .contacto_pag .botones {
  padding: 10px;
  margin: 10px 10px;
  display: flex;
  justify-content: center;
}

.nosotros .swirl-in-fwd {
  -webkit-animation: swirl-in-fwd 3s ease-out infinite both;
  animation: swirl-in-fwd 3s ease-out infinite both;
}
@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
.nosotros .historia {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f1f1f1;
}
.nosotros .historia div {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.nosotros .historia div .head {
  width: 18vw;
  margin-bottom: 2vw;
  margin-top: 3vw;
}
.nosotros .historia div .foot {
  width: 4vw;
  margin-top: 2vw;
}
.nosotros .historia div p {
  width: 100%;
  font-size: 1vw;
  line-height: 1.4vw;
  width: 80%;
}
.nosotros .historia div b {
  width: 100%;
  font-size: 1vw;
  line-height: 1.4vw;
  width: 80%;
}
.nosotros .historia img.desk {
  width: 50%;
}
.nosotros .historia img.mob {
  width: 100%;
  display: none;
}

.listado_promociones2 {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 40px;
}
.listado_promociones2 .slide-in-left {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.listado_promociones2 .scale-in-bottom {
  -webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}
.listado_promociones2 h2 {
  color: #d60058;
  font-size: 38px;
  line-height: 46px;
  margin-bottom: 40px;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.listado_promociones2 ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: auto;
}
.listado_promociones2 ul li {
  display: flex;
  align-items: flex-start;
  width: 45%;
  margin: 40px 45px;
  max-width: 530px;
}
.listado_promociones2 ul li .foto {
  width: 50%;
}
.listado_promociones2 ul li .foto img {
  width: 100%;
}
.listado_promociones2 ul li .textos {
  width: 50%;
  text-align: left;
  padding-left: 30px;
  box-sizing: border-box;
}
.listado_promociones2 ul li .textos h3 {
  color: #d60058;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 0px;
  font-weight: 300;
}
.listado_promociones2 ul li .textos h6 {
  color: #d60058;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 10px;
  font-weight: 600;
}
.listado_promociones2 ul li .textos .fecha {
  color: #333;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 5px;
  font-weight: 600;
}
.listado_promociones2 ul li .textos .desc {
  font-size: 11px;
  line-height: 18px;
  font-weight: 500;
  color: #555;
}

footer {
  width: 100%;
  margin-top: auto;
  background-color: #CE0058;
  padding: 60px 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
footer * {
  color: #fff;
}
footer div {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
}
footer .logo {
  width: 120px;
}
footer h6 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 2px;
  line-height: 26px;
}
footer .redes {
  width: auto;
}
footer .redes a {
  margin: 0;
}
footer .redes img {
  width: 32px;
  margin: 0 5px;
  transition: 0.5s;
}
footer .redes img:hover {
  color: #CE0058;
}

@media (max-width: 1000px) {
  header {
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 0;
  }
  .header .nav-links a {
    font-size: 17px;
  }
  .inicio .inicio_pag {
    width: 100%;
    height: 100%;
  }
  .inicio .inicio_pag img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .inicio .inicio_pag .sabores_inicio {
    font-size: 30px;
  }
  .inicio .inicio_pag .sabores {
    font-size: 30px;
  }
  .inicio .inicio_pag .helado_frutilla {
    position: absolute;
    top: 100px;
    right: 0;
    width: 20%;
    max-height: 300px;
  }
  .inicio .inicio_pag .cucurucho {
    position: absolute;
    top: 105px;
    left: -20px;
    width: 20%;
    max-height: 350px;
    max-width: 280px;
  }
  .inicio .listas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .inicio .listas .col {
    height: 100%;
    padding: 15px;
    margin: 0 auto;
  }
  .inicio .listas .col h6 {
    font-size: 25px;
    line-height: 25px;
    font-weight: 400;
    text-align: center;
  }
  .inicio .listas .col ul li {
    text-align: center;
  }
  .nosotros .historia div p {
    font-size: 15px;
  }
  .nosotros .historia div b {
    font-size: 15px;
  }
  .listado_promociones2 ul li {
    width: 100%;
    margin: 40px 0px;
    max-width: 100%;
  }
  .listado_promociones2 ul li .textos .fecha {
    font-size: 25px;
  }
  .listado_promociones2 ul li .textos .desc {
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .header .logo img {
    height: 40px;
    padding: 0 20px;
  }
  .header .nav-links {
    flex-direction: column;
    align-items: end;
  }
  .header .nav-links li a {
    font-size: 15px;
    color: #ffffff;
  }
  .header .abrir_menu {
    display: block;
    border: 0;
    font-size: 1.3rem;
    background-color: transparent;
    cursor: pointer;
    color: #000000;
    padding: 0 30px;
  }
  .header nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #CE0058;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 40%;
  }
  .header nav .cerrar_menu {
    display: block;
    border: 0;
    font-size: 1.3rem;
    background-color: transparent;
    color: #ffffff;
  }
  .header .visible {
    opacity: 1;
    visibility: visible;
  }
  .inicio .listas {
    margin: 80px;
    display: grid;
    text-align: center;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .inicio .listas .col .h6_inicio {
    text-align: center;
    margin-left: 50px;
  }
  .inicio .inicio_pag .sabores_inicio {
    position: relative;
    z-index: 1;
    font-size: 23px;
    color: #d60058;
    margin-left: 40px;
  }
  .inicio .inicio_pag .sabores {
    position: relative;
    z-index: 1;
    font-size: 23px;
    color: #d60058;
  }
  .nosotros .historia {
    display: inline-block;
  }
  .nosotros .historia .texto_historia {
    width: 100%;
    margin: 15px auto;
  }
  .nosotros .historia .texto_historia .head {
    width: 220px;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .nosotros .historia .texto_historia .foot {
    width: 70px;
    margin: 0;
    margin-top: 18px;
  }
  .nosotros .historia .texto_historia p, .nosotros .historia .texto_historia b {
    font-size: 15px;
    line-height: 22px;
    width: 80%;
  }
  .nosotros .historia .desk {
    display: none;
  }
  .nosotros .historia img.mob {
    display: block;
  }
  .listado_promociones2 h2 {
    font-size: 24px;
  }
  .listado_promociones2 ul {
    flex-direction: column;
  }
  .listado_promociones2 ul li {
    width: 100%;
    margin: 40px 0px;
    max-width: 100%;
  }
  .listado_promociones2 ul li .foto {
    width: 50%;
  }
  .listado_promociones2 ul li .textos h3 {
    font-size: 18px;
  }
  .listado_promociones2 ul li .textos h6 {
    font-size: 18px;
  }
  .listado_promociones2 ul li .textos .fecha {
    font-size: 18px;
  }
  .listado_promociones2 ul li .textos .desc {
    font-size: 14px;
  }
  .contacto .contacto_pag .contacto_input .titulo_label {
    font-size: 17px;
    color: #d60058;
  }
  .contacto .contacto_pag .contacto_input .titulo_label:hover {
    font-size: 20px;
  }
  .contacto .contacto_pag .contacto_input select {
    padding-left: 0px;
    padding-right: 143px;
  }
  .contacto .contacto_pag .contacto_input label input {
    padding-left: 0px;
    padding-right: 0px;
  }
  .contacto .contacto_pag h1 {
    font-size: 23px;
    color: #d60058;
  }
  textarea {
    width: 290px;
    height: 200px;
  }
  footer {
    display: inline-block !important;
    width: 100%;
    position: relative;
    bottom: 0;
  }
  footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
  }
  footer .logo {
    width: 100px;
  }
  footer h6 {
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 1px;
    line-height: 17px;
  }
  footer .redes {
    width: auto;
    margin: 0;
    padding: 0;
  }
  footer .redes img {
    width: 28px;
    margin: 0 5px;
    transition: 0.5s;
  }
}

/*# sourceMappingURL=styles.css.map */
