@import "./estilo-footer";
@import "./color-principal";


footer {

    *{
        color: #fff;
    }

    width: 100%;
    margin-top: auto;
    background-color: $colorPrincipal;
    padding: 60px 0;
    display: flex !important;
    justify-content: center;
    align-items: center;

    div {
        margin: map-get($estilos, margen);
        display: map-get($estilos, mostrar );
        flex-direction: map-get($estilos, direccion_columna);
    }

    .logo{
        width: 120px;
    }

    h6{
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 2px;
        line-height: 26px;
    }

    .redes{
        width: auto;

        a{
            margin: 0;
        }

        img{
            width: 32px;
            margin: 0 5px;
            transition: .5s;

            &:hover{
                color: $colorPrincipal;
            }
        }
    }
}