.nosotros {



    .swirl-in-fwd {
        -webkit-animation: swirl-in-fwd 3s ease-out infinite both;
                animation: swirl-in-fwd 3s ease-out infinite both;
    }
        
                @-webkit-keyframes swirl-in-fwd {
                    0% {
                    -webkit-transform: rotate(-540deg) scale(0);
                            transform: rotate(-540deg) scale(0);
                    opacity: 0;
                    }
                    100% {
                    -webkit-transform: rotate(0) scale(1);
                            transform: rotate(0) scale(1);
                    opacity: 1;
                    }
                }
                @keyframes swirl-in-fwd {
                    0% {
                    -webkit-transform: rotate(-540deg) scale(0);
                            transform: rotate(-540deg) scale(0);
                    opacity: 0;
                    }
                    100% {
                    -webkit-transform: rotate(0) scale(1);
                            transform: rotate(0) scale(1);
                    opacity: 1;
                    }
                }
                


    .historia {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: #f1f1f1;
        

        div{
            width: 50%;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;


            .head{
                width: 18vw;
                margin-bottom: 2vw;
                margin-top: 3vw;
            }

            .foot{
                width: 4vw;
                margin-top: 2vw;
            }

            p{
                width: 100%;
                font-size: 1vw;
                line-height: 1.4vw;
                width: 80%;
            }
            b{
                width: 100%;
                font-size: 1vw;
                line-height: 1.4vw;
                width: 80%;
            }
        }

        img{

            &.desk{
                width: 50%;
            }

            &.mob{
                width: 100%;
                display: none;
            }
        }
    }
}